@import url(../styles/variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

#app{
    width: 100%;
    font-family: Montserrat;
}

.header{
    display: flex;
    height: 110px;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    height: 27px;
    margin-left: var(--margin-1);
}

.navigation{
    margin-right: var(--margin-2);
}

.header-nav{
    list-style: none;
    display: flex;
}

.nav-link{
    text-decoration: none;
    margin-left: 36px;
    color: var(--text-color);
    font-size: var(--font-size-1);
    font-weight: 600;
}

.page1{
    margin-top: var(--margin-5);
    margin-left: var(--margin-4);
    margin-right: var(--margin-4);
    margin-bottom: var(--margin-5);
    display: flex;
}

.main-button{
    width: 147px;
    height: 35px;
    border:none;
    border: 1px solid;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.12);
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    padding-top: var(--padding-3);
    padding-bottom: var(--padding-3);
    padding-left: var(--padding-1);
    padding-right: var(--padding-1);
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    cursor:pointer;
    margin-bottom: 24px;
}

.content-title{
    display: block;
    width: 602px;
    height: 146px;
    font-weight: 700;
    font-size: 66px;
    font-family: Montserrat;
    color: var(--text-color);
    line-height: 72px;
}

.students-wrapper{
    display: flex;
    align-items:center;
    margin-top: 40px;
}

.main-start-bt{
    width: 222px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: rgba(253, 221, 53, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(3, 3, 3, 1);
    font-family: Montserrat;
    padding: 18px, 25px, 18px, 25px;
    cursor: pointer;
}

.students{
    margin-left: 16px;
    width: 130px;
    height: 34px;
}

.Join{
    margin-left: 8px;
    color: rgba(255, 255, 255, 1);
}

.description{
    display: block;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
}

.main-img{
    width: 600px;
    height: 392px;
    margin-bottom: var(--margin-5);
}

.page2{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.page2-content{
    display: flex;
}

.page2-title, .page3-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    height: 139px;
    font-weight: 800;
    font-size: 127px;
    line-height: 140px;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.1);
}


.page2-part1-content, .page2-part2-content{
    width: 638px;
    height: 500px;
    border: 1px solid;
    border-radius: 12px;
    padding-top: 62px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.12);
}

.page2-part2-content{
    margin-left: 24px;
}

.part1-title, .part2-title{
    width: 532px;
    height: 106px;
    font-weight: 700;
    line-height: 53px;
    color: var(--text-color);
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.005);
}

.text{
    padding-left: 53px;
}

.learn-more{
    display: flex;
    width: 143px;
    margin-top: 25px;
    text-decoration: none;
    margin-bottom: 34px;
}

.text-learn-more{
    width: 106px;
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.5px;
    color: var(--text-color);
    align-items: center;
}

.vector{
    margin-left: 12px;
    width: 25.5px;
    height: 10px;
}

.section1-img{
    width: 638px;
    height: 251px;
}

.section2-img{
    width: 638px;
    height: 224px;
    margin-top: 24px;
}

.page3{
    margin-top: 150px;
}

.page3-title{
    width: 1440px;
}

.user-wrapper1{
    display: flex;
    margin-bottom: 24px;
}

.user-wrapper2{
    display: flex;
}

.user1, .user2, .user3{
    width: 417px;
    height: 280px;
    border: none;
    border: 1px solid;
    border-radius: 12px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: inherit;
    padding-top: 26px;
    padding-right: 23px;
    padding-bottom: 26px;
    padding-left: 23px;
}

.user2, .user3{
    margin-left: 24px;
}

.user1{
    margin-left: 70px;
}

.user-info-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px, 23px, 26px, 23px;
}

.user1-info, .user2-info, .user3-info{
    display: flex;
}

.user1-contacts, .user2-contacts, .user3-contacts{
    margin-left: 6px;
    align-items: center;
}

.name, .contact{
    display: block;
    margin-bottom: 3px;
}

.name{
    color: var(--text-color);
    margin-top: 5.5px;
    width: 116px;
    height: 17px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.contact{
    color: rgba(255,255,255,0.6);
    width: 108px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.user1-img{
    width: 46px;
    height: 46px;
}

.twitter{
    width: 22px;
    height: 19px;
}

.coment{
    width: 373px;
    height: 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--text-color);
    margin-top: 24px;
}

.data{
    width: 373px;
    height: 14px;font-weight: 500;
    font-size: 12px;
    line-height: 14.6px;
    color: var(--text-color);
    margin-top: 24px;
}

.page3-part2-content{
    margin-bottom: 120px;
}

.footer{
    width: 1440px;
    height: 572px;
    padding-top: 120px;
    background-color: rgba(76,52,164,1);
    border: none;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.footer-info{
    padding-left: 70px;
    padding-bottom: 120px;
}

.footer-title{
    width: 420px;
    height: 66px;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: var(--text-color);
    margin-bottom: 19px;
}

.title-description{
    width: 400px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-color);
}

.input{
    display: flex;
}

.e-mail{
    width: 513px;
    height: 56px;
    padding-top: 17.5px;
    padding-right: 97px;
    padding-bottom: 17.5px;
    padding-left: 16px;
    background-color: rgba(255,255,255,0.12);
    border: none;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(255,255,255,0.5);
    color: var(--text-color);
    font-size: 14px;
}

.footer-bt-submit{
    width: 111px;
    height: 56px;
    border: none;
    border-radius: 6px;
    padding-top: 18px;
    padding-right: 25px;
    padding-bottom: 18px;
    padding-left: 18px;
    background-color: rgba(253, 221, 53, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    cursor: pointer;
    margin-left: 16px;
}

.social{
    margin-top: 28.3px;
    display:flex;
    align-items: center;
}

.youtube{
    width: 22px;
    height: 15px;
}

.facebook{
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.twitter{
    width: 22px;
    height: 19px;
    margin-left: 10px;
}

.insta{
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.tt{
    width: 16.5px;
    height: 20px;
    margin-left: 10px;
}

.all-right{
    width: 283px;
    height: 18px;font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255,255,255,0.7);
}

.copy{
    margin-top: 81px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-nav{
    display: flex;
    margin-right: 70px;
}

.footer-nav-list{
    list-style: none;
    margin-bottom: 13px;
}

.footer-nav-links{
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.footer-nav-title{
    color: var(--text-color);
    margin-bottom: 21px;
}

.company{
    margin-left: 114px;
}