@import url(../styles/variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

#app{
    width: 100%;
    font-family: Montserrat;
}

.header{
    display: flex;
    height: 110px;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    height: 27px;
    margin-left: var(--margin-1);
}

.navigation{
    margin-right: var(--margin-2);
}

ul{
    list-style: none;
    display: flex;
}

.nav-link{
    text-decoration: none;
    margin-left: 36px;
    color: var(--text-color);
    font-size: var(--font-size-1);
    font-weight: 600;
}

.page1{
    margin-top: var(--margin-5);
    margin-left: var(--margin-4);
    margin-right: var(--margin-4);
    margin-bottom: var(--margin-5);
    display: flex;
}

.main-button{
    width: 147px;
    height: 35px;
    border:none;
    border: 1px solid;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.12);
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    padding-top: var(--padding-3);
    padding-bottom: var(--padding-3);
    padding-left: var(--padding-1);
    padding-right: var(--padding-1);
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    cursor:pointer;
    margin-bottom: 24px;
}

.content-title{
    display: block;
    width: 602px;
    height: 146px;
    font-weight: 700;
    font-size: 66px;
    font-family: Montserrat;
    color: var(--text-color);
    line-height: 72px;
}

.students-wrapper{
    display: flex;
    align-items:center;
    margin-top: 40px;
}

.main-start-bt{
    width: 222px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: rgba(253, 221, 53, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(3, 3, 3, 1);
    font-family: Montserrat;
    padding: 18px, 25px, 18px, 25px;
    cursor: pointer;
}

.students{
    margin-left: 16px;
    width: 130px;
    height: 34px;
}

.Join{
    margin-left: 8px;
    color: rgba(255, 255, 255, 1);
}

.description{
    display: block;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
}

.main-img{
    width: 600px;
    height: 392px;
    margin-bottom: var(--margin-5);
}

.page2{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.page2-content{
    display: flex;
}

.page2-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    height: 139px;
    font-weight: 800;
    font-size: 127px;
    line-height: 140px;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.1);
}


.page2-part1-content, .page2-part2-content{
    width: 638px;
    height: 500px;
    border: 1px solid;
    border-radius: 12px;
    padding-top: 62px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.12);
}

.page2-part2-content{
    margin-left: 24px;
}

.part1-title, .part2-title{
    width: 532px;
    height: 106px;
    font-weight: 700;
    line-height: 53px;
    color: var(--text-color);
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.005);
}

.text{
    padding-left: 53px;
}

.learn-more{
    display: flex;
    width: 143px;
    margin-top: 25px;
    text-decoration: none;
    margin-bottom: 34px;
}

.text-learn-more{
    width: 106px;
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.5px;
    color: var(--text-color);
    align-items: center;
}

.vector{
    margin-left: 12px;
    width: 25.5px;
    height: 10px;
}

.section1-img{
    width: 638px;
    height: 251px;
}

.section2-img{
    width: 638px;
    height: 224px;
    margin-top: 24px;
}