@import url("../../styles/variables.css");
@import url("../../styles/extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

#app{
    width: 100%;
    background-color: var(--grey-bg);
}

.navigation{
    width: 1903px;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    margin-bottom: calc(var(--margin-xs) + 5px);
}

.nav{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: end;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-link{
    font-family: "montserrat";
    font-size: var(--fs-xs);
    color: var(--primary-text-color);
    margin-right: var(--margin-m);
}

.enter_register{
    display: flex;
    height: 50px;
    align-items: center;
}

.enter{
    width: 16px;
    height: 16px;
    margin-left: calc(var(--margin-xl) + 5px);
}

.enter_txt{
    margin-right: 5px;
    margin-left: 10px;
}

.enter_txt_wrapper{
    height: 20px;
    border-right: 1px solid rgba(255, 255, 255, 1);
    margin-right: 5px;
}

.shoping{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: inherit;
}

.logo{
    width: 158px;
    height: 71px;
    margin-right: var(--margin-l);
}

.search-wrapper{
    align-items: center;
}

.search{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(0, 0, 0.5);
}

.tel-ic{
    width: 40px;
    height: 40px;
    margin-left: var(--margin-xxl);
    margin-right: 6px;
}

.connection{
    width: 300px;
}

.feetback, .footer_feetback{
    width: 220px;
    text-decoration: underline;
    color: var(--third-text-color);
    font-weight: 700;
}

.buttons{
    margin-left: var(--margin-xl);
    margin-right: 120px;
}

.balance-bt{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 16px;
    transition: 200ms ease-in-out;
}

.balance-bt:hover{
    background-color:grey;
}

.balance{
    width: 40px;
    height: 40px;
}

.basket-bt{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.basket-bt:hover{
    background-color:grey;
}

.basket{
    width: 40px;
    height: 40px;
}

.navigation-bt{
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-xxl);
    position: relative;
    z-index: 2;
}

.nav-bt{
    width: 202px;
    height: 40px;
    border:1px solid rgba(30, 97, 64, 1);
    border-radius: 50px;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--forth-text-color);
    margin-right: var(--margin-s);
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.nav-bt:hover{
    background-color: var(--orange-bg);
    color: var(--primary-text-color);
}

.nav-bt_icon{
    width: 22px;
    height: 22px;
}

.nav-bt_name{
    width: 150px;
}

.about-us_page-nav{
    display: flex;
    justify-content: center;
}

.about-us_nav{
    width: 182px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.about-us_point{
    width: 6px;
    height: 6px;
}

.about-us_about{
    font-family: "montserrat";
    font-size: var(--fs-xs);
    font-weight: 900;
    color: var(--secondary-text-color);
}

.leave-img-wrapper{
    display: flex;
    align-items: center;
}

.about-us_title-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-s);
}

.about-us_paragraph{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}

.about-us_paragraph-df{
    width: 1110px;
    height: 205px;
}

.about-us_paragraph1,.about-us_paragraph2,.about-us_paragraph3,.about-us_paragraph4, .about-us_paragraph5{
    margin-bottom: var(--margin-xs);
}

.footer{
    height: 523px;
    background-color: white;
}

.footer_nav{
    padding: var(--padding-page_u) 450px 0px 450px;
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    width: 158px;
    height: 71px;
    margin-bottom: var(--margin-xs);
}

.footer_logo-par{
    width: 221px;
    height: 66px;
}

.footer_info-title{
    font-size: var(--fs-s);
    font-weight: 600;
    margin-bottom: var(--margin-m);
    font-family: "montserrat";
}

.footer_infox{
    font-size: var(--fs-s);
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: var(--margin-xxs);
}

.mail{
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

.footer_connection{
    margin-bottom: var(--margin-xs);
}

.footer_mail{
    align-items: center;
}

.footer_mail-contact{
    font-size: var(--fs-xs);
    font-weight: 400;
}

.footer_tel-ic{
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

.footer_line{
    height: 1px;
    width: 1110px;
}

.footer_line-wrapper{
    display: flex;
    justify-content: center;
    margin-top: var(--margin-xxxl);
}

.footer_copyr{
    display: flex;
    justify-content: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-montserrat);
    color: var(--forth-text-color );
    margin-top: var(--margin-xs);
}